/* Universal Reset - Sets the default padding and margin to 0 and changes the box-sizing model to border-box for every element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Root Variables - Defines CSS variables for global use */
:root {
  --index: calc(1vw + 1vh);
  --transition: 1.5s cubic-bezier(.05, .5, 0, 1); /*Animation transition presset*/
}
/* Custom Fonts - Imports custom fonts to be used in the webpage */
@font-face {
  font-family: kemerik-cosmos;
  src: url(/fonts/kamerik205-heavy.woff2);
  font-weight: 900;
}
@font-face {
  font-family: merri-weather-cosmos;
  src: url(/fonts/merriweather-regular-italic.woff2);
}
/* Body Styling - Sets the background color, text color, and default font for the webpage */
body {
  background-color: black;
  color: #fff;
  font-family: kemerik-cosmos;
}
/* Logo Styling - Sizes and positions the logo on the page */
.logo {
  --logo-size: calc(var(--index) * 7.1);  /*Calculateting logo size by using --index: calc(1vh + 1vw);*/
  width: var(--logo-size);
  height: var(--logo-size);
  background-size: cover;  
  background-position: center;  
  background-repeat: no-repeat;
  position: absolute;
  left: calc(50% - calc(var(--logo-size)) / 2); /*Centering logo*/
  top: calc(var(--index) * 2.8);
  z-index: 1;
}
/* 3D Perspective Container */
.layers {
  perspective: 1000px;
  overflow: hidden;
}
/* Container for Layered Items */
.layers__container {
  height: 100vh;
  min-height: 500px;
  transform-style: preserve-3d;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));
  will-change: transform;
  transition: transform var(--transition);
}
/* Styling for Layer Items */
.layers__items{
  position: absolute;
  inset: -5vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Individual Layer Properties - Applies 3D transformation to each layer */
.layer-1{
  transform: translateZ(-55px) scale(1.06);
}
.layer-2{
  transform: translateZ(80px) translateY(-15px) scale(1);
}
.layer-3{
  transform: translateZ(180px) scale(.6);
}
.layer-4{
  transform: translateZ(280px) scale(.5);
}
.layer-4 {
  pointer-events: none; 
}
/* Content Styling */
.hero-content {
  font-size: calc(var(--index) * 2.9);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: calc(var(--index) * -.15);
  line-height: 1.35em;
  margin-top: calc(var(--index) * 5.5);
}
.hero-content span {
  display: block;
}
.hero-content__p {
  text-transform: none;
  font-family: merri-weather-cosmos;
  letter-spacing: normal;
  font-size: calc(var(--index) * .73);
  line-height: 3;
}
/* Button Styling */
.button-start {
  font-family: Arial;
  font-weight: 600;
  text-transform: uppercase;
  font-size: calc(var(--index) * .7);
  letter-spacing: -.02vw;
  padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
  background-color: transparent;
  color: #fff;
  border-radius: 10em;
  border: rgb(255 255 255 / .4) 3px solid;
  outline: none;
  cursor: pointer;
  transition: var(--transition);
}
/* Active Button State */
.button-start:active{
  border: rgb(255, 255, 255) 3px solid;
}

/* Particles.js Container Styling */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
